header {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: black;
    color: white;
    gap: 20px;
    padding: 20px;
}

.link {
    color: white;
    text-decoration: none;
}
