body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(36, 33, 33);
    color: white;
}

main {
    margin: 15px;
}

.feedback-message {
    color: rgb(151, 43, 43);
}

.positive {
    color: rgb(91, 180, 62);
}
